[SERVER_CONFIG]

HOST = hawking.cs.odu.edu
USER = username_for_hawking
PASSWORD = password_for_hawking

[DATABASE_CONFIG]
DATABASE = pates_etds
ETD_TABLE = orig_etd_tablename
ETD_TABLE_LIMIT = all
SHADOW_TABLE = shadow_tablename

[METADATA_UPDATE_CONFIG]
	
ORIG_METHOD = library
UPDATE_METHOD = autometa
